<footer class="password-page__footer" role="contentinfo" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="password-footer">
  <div class="wrapper">
    <ul class="inline-list text-center">
      <li>
        <p class="credentials text-small">
          <span class="text-small">&copy; {{ 'now' | date: '%Y' }} {{ shop.name | link_to: routes.root_url }}</span>
          {%- if section.settings.custom_credential != blank -%}
          <span class="rte text-small"> | {{ section.settings.custom_credential | remove: '<p>' | remove: '</p>' }}</span>
          {%- endif -%}
        </p>
      </li>
    </ul>
  </div>
</footer>

{% schema %}
  {
    "name": "Password footer",
    "class": "password-footer",
    "settings": [
    {
      "type": "richtext",
      "id": "custom_credential",
      "label": "Custom credential"
    }
    ]
  }
{% endschema %}